body{
    background-image: url('../img/STAR\ FIELD.png');
    color: yellow;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}



header{
    text-align: center;
}

#height-ctn{
    display: flex;
}

#button{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: #303030;
    border: 2px solid yellow;
    color: yellow;
    font-size: 20px;

}

#button:hover{
    background-color: #30303098;
    cursor:pointer;
    color: rgba(255, 255, 0, 0.356);
}



fieldset{
    margin-top: 20px;
}

#results{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    background-color: #303030;
    border-radius: 20px;
    
}

@media only screen and (max-width: 600px){
    #results{
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    
    #results img{
        width: 200px;
    }
}

#results img{
    width: 350px;
    border-radius: 20px;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

#status{
    display: none;
}